
.checkoutSetion{
    margin-left: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: rgb(218, 193, 146);
}


.conatiner2{

 margin: 10px 20px;
   


}
.heading{
    font-size: 25px;
}
.orderBox{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkoutbtn{
    width: 80%;
    padding: 10px;
    background-color:rgb(52, 94, 52);
    border-radius: 5px;
    font-size: 18px;
   
    font-weight: 500;
    color: white;

}
.container{
    position: relative;
}
.clouse{
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    right: -25px;
    top: -25px;
}